<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Registro</th>
            <th scope="col">Data</th>
            <th scope="col">Volume</th>
            <th scope="col">Valor (R$)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@TempData["registro"]</th>
            <td>@TempData["data"]</td>
            <td>@TempData["volume"]</td>
            <td>@TempData["valor"]</td>
        </tr>
    </tbody>
</table>