@{
    ViewData["Title"] = "Home Page";
}

<div class="card mb-3">
    <img class="card-img-top" src="https://images.pexels.com/photos/929247/pexels-photo-929247.jpeg" alt="Banner">
    <div class="card-body text-center">
        <h1 class="card-title">Fran's Design</h1>
    </div>
</div>
