@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Framework Razor - Exercícios</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Exercicio1"> Cadastro de Pessoa
            </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Exercicio2"> Classificando
                Maiores e Menores de Idade </a>
        </li>
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Exercicio3"> Sorteio de Equipes
                e Temas de Trabalho</a>
        </li>
    </ul>
</div>
